<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qpick</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="wrap">
            <header>
                <div class="headerItem">
                    <div class="logo">
                        <h2>QPICK</h2>
                    </div>
                    <div class="choosePhone">
                        <img src="../static/img/phone.png" alt="" class="phone">
                        <span>Вибрати модель телефона</span>
                        <img src="../static/img/arrow.png" alt="" class="arrow">
                    </div>
                </div>

                <div class="headerItem">
                    <div class="heartGroup">
                        <img src="../static/img/heart.png" alt="">
                        <div class="counter">3</div>
                    </div>
                    <div class="cartGroup">
                        <img src="../static/img/korzynka.png" alt="">
                        <div class="counter">12</div>
                    </div>
                </div>
            </header>
        <div class="banner">
            <h1 class="bannerText">Аксесуари для <br> Iphone 13 Pro Max</h1>
            <img src="../static/img/iphone.png" alt="">
        </div>

        <main>
            <section class="phoneCases">
                <h5>Чохли</h5>
                <div class="phoneCasesGroup">
                    <div class="card">
                        <img src="../static/img/glass.png" alt="">
                        <p>Скляні</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/selikon.png" alt="">
                        <p>Силіконові</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/shkira.png" alt="">
                        <p>Шкіряні</p>
                    </div>
                </div>
            </section>

            <section class="earPods">
                <h5>Навушники</h5>
                <div class="earPodsGroup">
                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <img src="../static/img/air1.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName">Apple BYZ S8251</div>
                            <div class="cardPrice">2927грн</div>
                            <div class="recentPrice"><del>3527грн</del></div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.7</span>
                        </div>
                    </div>

                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/fillHeart.png" alt="">
                        </div>
                        <img src="../static/img/air2.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName">Apple EarPods</div>
                            <div class="cardPrice">2327грн</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.5</span>
                        </div>
                    </div>

                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <img src="../static/img/air3.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName" style="padding-top: 40px">Apple EarPods</div>
                            <div class="cardPrice">2327грн</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.5</span>
                        </div>
                    </div>
                </div>

                <div class="earPodsGroup">
                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <img src="../static/img/air1.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName">Apple BYZ S8251</div>
                            <div class="cardPrice" style="color: #DF6464;">2927грн  <span class="perc">-20%</span></div>
                            <div class="recentPrice"><del style="color: #838383;">3527грн</del></div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.7</span>
                        </div>
                    </div>

                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <img src="../static/img/air2.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName">Apple EarPods</div>
                            <div class="cardPrice">2327грн</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.5</span>
                        </div>
                    </div>

                    <div class="card earPodsCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <img src="../static/img/air3.png" alt="" class="earPodsImage">
                        <div class="cardInfo">
                            <div class="cardName" style="padding-top: 30px">Apple EarPods</div>
                            <div class="cardPrice">2327грн</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.5</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="wireles">
                <h5>Безпровідні навушники</h5>
                <div class="wirelesGroup">
                    <div class="card wirelesCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/heart.png" alt="">
                        </div>
                        <div class="c">
                            <img src="../static/img/w1.png" alt="" class="wirelesImage">
                            <img src="../static/img/apple.png" alt="" class="apple">
                        </div>
                        <div class="cardInfo">
                            <div class="cardName">Apple AirPods</div>
                            <div class="cardPrice">9527грн</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.7</span>
                        </div>
                    </div>

                    <div class="card wirelesCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/fillHeart.png" alt="">
                        </div>
                        <img src="../static/img/w2.png" alt="" class="wirelesImage">
                        <div class="cardInfo">
                            <div class="cardName">GERLAX GH-04</div>
                            <div class="cardPrice">6527 KZT</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.7</span>
                        </div>
                    </div>

                    <div class="card wirelesCard">
                        <div class="cardHeartContainer">
                            <img src="../static/img/fillHeart.png" alt="">
                        </div>
                        <img src="../static/img/w3.png" alt="" class="wirelesImage">
                        <div class="cardInfo">
                            <div class="cardName">BOROFONE BO4</div>
                            <div class="cardPrice">7527 KZT</div>
                        </div>
                        <div class="ratingContainer">
                            <img src="../static/img/star.png" alt=""> <span>4.7</span>
                        </div>
                    </div>
            </section>
        </main>

        <footer>
            <div class="footerItem">
                <div class="logo">Qpick</div>
            </div>

            <div class="footerItem">
                <nav>
                    <li><a href="">Вибране</a></li>
                    <li><a href="">кошик</a></li>
                    <li><a href="">Контакти</a></li>
                </nav>
            </div>

            <div class="footerItem languagesBox">
                <div class="footerItem_top">
                    <span>Умови сервісу</span>
                </div>
                <div class="footerItem_bottom">
                    <img src="../static/img/earth.png" alt="">
                    <span>Esp</span>
                    <span style="color: #ffa542; font-weight:700;">Укр</span>
                    <span>Eng</span>
                </div>

                <div class="social">
                    <img src="../static/img/Instagram.png" alt="">
                    <img src="../static/img/Telegram.png" alt="">
                    <img src="../static/img/Whatsapp.png" alt="">
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
